<footer class="mt-12 border-t py-8">
  <div class="gutter mx-auto max-w-prose text-gray-300">
    © {new Date().getFullYear()}{" "}
    <a href="/contact">David Stotijn</a> · <a href="/colophon">Colophon</a>
  </div>
</footer>
