@import "reset";

body {
    font-family: zeitung, sans-serif;
}

p {
    color: #555;
    margin: 1rem 0;
    font-weight: 400;
}

a {
    color: lightseagreen;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 2rem 0;
    font-family: zeitung-mono, sans-serif;
    font-weight: 600;
}

h1 {
    font-size: 3rem;
    font-weight: 400;
    font-style: italic;
}

h2 {
    margin-bottom: 1rem;
}

article time {
    color: lightseagreen;
}

code,
pre {
    font-family: zeitung-mono, sans-serif;
}

pre {
    padding: .5rem .6rem .6rem;
    color: #fff;
    background-color: #444;
    overflow-x: auto;
    border-radius: 3px;

    code {
        background-color: inherit;
        font-size: .8rem;
    }
}

code {
    font-family: zeitung-mono, sans-serif;
    background-color: #eee;
}

nav a {
    color: lightseagreen;
    font-size: 2rem;
    font-weight: 600;
    font-style: italic;
    text-decoration: none;
}

main {
    margin-bottom: 1rem;
}

footer {
    color: #aaa;
}

.container {
    max-width: 42rem;
    margin: 0 auto;
    padding: 2rem 1rem;
}

.recent-articles {
    list-style: none;
    
    time {
        color: #aaa;
    }
}